<section class="pt-80">
    <div class="z-30 relative h-full flex flex-col">

        <header class="pt-80 pl-20">
            <h2 class="text-white text-[40px] font-medium">
                    Model Y
            </h2>
            <p>
                From $36,490*
            </p>
            <p>
                After Federal Tax Credit
            </p>
        </header>

        <footer class="pl-20 flex flex-col flex-grow justify-end pt-3">
            <a>
                <button class="border-[3px] bg-white/5 backdrop-blur-xl border-white text-white hover:bg-white hover:text-black px-5 py-2 incline-block rounded-lg ">
                        Shop Available
                </button>
                <button class="border-[3px] bg-B/5 backdrop-blur-xl border-white text-white hover:bg-black hover:text-black px-5 py-2 incline-block rounded-lg ">
                    Demo Drive
            </button>
            </a>
        </footer>
    </div>
    <div class="absolute w-full top-0 bottom-0 h-screen">
        <video class="object-cover h-screen w-full" autoplay muted loop src="/video2.webm"></video>
    </div>
</section>